@import './src/_mixins.scss';

.header {
  @include flex-align-text();
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #FCFCE8;
  font-family: 'Dongle', sans-serif;
}

.header__user-photo-username {
  position: fixed;
  left: 0;
}

.header__user-photo {
  height: 4rem;
  width: 4rem;
  margin-left: 20px;
  border-radius: 100%;
}

.title {
  width: 100%;
  font-size: 3.2rem;
}

.header__logo {
  @include flex-align-text();
  height: 7rem;
  width: 7rem;
  background-image: url('https://images.wikia.com/nintendo/en/images/3/3e/MTO_Tennis_Ball.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Dongle', sans-serif;
  cursor: default;
}

.header__tagline {
  width: 100%;
  font-size: 1.2rem;
  cursor: default;
}

.header__username {
  margin-top: -5px;
  margin-left: 19px;
  font-size: 14px;
}
