// @import './src/_mixins.scss';

main {
  @include height-width(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ACD8AA;
  background-image: url('../assets/3dogs.png');
  background-size: contain;
  background-position: center;
}

.dog-one {
  @include height-width(50rem, 33rem);
  @include pos-zindex-opa(19%);
}

.dog-two {
  @include height-width(32rem, 46.1rem);
  @include pos-zindex-opa(19%);
  margin: 51px 0px 0px 774px;
}

.dog-five {
  @include height-width(8rem, 6rem);
  @include pos-zindex-opa(3%);
  margin: 293px 0px 0px 1265px;
}
