// @import './src/_mixins.scss';
@import '_mixins';

.profile-card {
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem;
  padding: 2rem;
  align-items: center;
  text-align: center;
  // @include height-width(13rem, 13rem);
  width: 13rem;
  @include profile-containers();
}

.profile-card__image {
  // @include height-width(13rem, 13rem);
  width: 13rem;
  border-radius: 15px;
  transition: height .25s ease-out, width .25s ease-out;
}

.profile-card:hover {
  // @include height-width(14rem, 14rem);
  // width: 14rem;
  animation: wagthedog .2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes wagthedog {
  from { transform: rotate(-2.5deg) }
  to   { transform: rotate(2.5deg) }
}

.profile-card__card-details {
  // margin-top: 2rem;
  font-family: 'Dongle', sans-serif;
  font-size: 2rem;
}
