@import '_mixins';

.playdates-container {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.playdates-container__playdates {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  background-color: pink;
}

#slideLeft,
#slideRight {
  font-size: 2rem;
}

.my-playdates {
  font-size: 2rem;
}
