// @import './_GalleryHeightBPs';
// @import './_GalleryWidthBPs';

.gallery {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-top: 10%;
}
