@import '_variables';

@mixin height-width($hei, $wid) {
  height: $hei;
  width: $wid;
}

@mixin pos-zindex-opa($opa) {
  position: absolute;
  z-index: 1;
  opacity: $opa;
}

@mixin flex-align-text() {
  display: flex;
  align-items: center;
  text-align: center;
}

@mixin button-styles() {
  border: none;
  padding: .5rem;
  border-radius: 10px;
  font-family: $main-font;
  font-size: 1rem;
  // cursor: pointer;
  // transform: scale(1.025);
  transition: all 0.1s ease-in-out;
  // box-shadow: $main-shadow;
  // text-shadow: 2px 2px #474747;
}

@mixin profile-containers() {
  // padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(244, 143, 152, 0.6);
  box-shadow: $main-shadow;
}
