@import '_reset';
@import '_variables';
@import '_mixins';
@import '_buttons';
@import '_App';
@import '_Card';
@import '_Dashboard';
// @import '_GalleryHeightBPs';
// @import '_GalleryWidthBPs';
@import '_Gallery';
@import '_Header';
@import '_Map';
@import '_Nav';
@import '_Playdate';
@import '_PlaydateForm';
@import '_PlaydateFormAndMap';
@import '_Profile';

html {
  font-size: 1vw;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $main-font;
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
