@import './src/_mixins.scss';

main {
  @include height-width(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ACD8AA;
}

.dog-one {
  @include height-width(50rem, 33rem);
  @include pos-zindex-opa(8%);
}

.dog-two {
  @include height-width(16rem, 34rem);
  @include pos-zindex-opa(8%);
  margin: -105px 0px 0px 717px;
}

.dog-three {
  @include height-width(24rem, 37rem);
  @include pos-zindex-opa(8%);
  margin: 183px 0px 0px 898px;
}

.dog-four {
  @include height-width(12rem, 17rem);
  @include pos-zindex-opa(6%);
  margin: 233px 0px 0px 599px;
}
