@media screen and (max-height: 41.5rem) {
  .gallery {
    margin-top: 4rem;
  }
}

@media screen and (max-height: 38.75rem) {
  .gallery {
    margin-top: 6rem;
  }
}

@media screen and (max-height: 36rem) {
  .gallery {
    margin-top: 10rem;
  }
}

@media screen and (max-height: 32.75rem) {
  .gallery {
    margin-top: 13rem;
  }
}

@media screen and (max-height: 28.75rem) {
  .gallery {
    margin-top: 17rem;
  }
}

@media screen and (max-height: 24.81rem) {
  .gallery {
    margin-top: 21rem;
  }
}

@media screen and (max-height: 18.93rem) {
  .gallery {
    margin-top: 24rem;
  }
}
