@media screen and (max-width: 85.625rem) {
  .profile-card__card-details {
    margin-top: 5px;
  }
}

@media screen and (max-width: 81.37rem) {
  .profile-card__card-details {
    margin-top: -4px;
  }
}

@media screen and (max-width: 76.75rem) {
  .profile-card__card-details {
    margin-top: -11px;
  }
}

@media screen and (max-width: 72.5rem) {
  .profile-card__card-details {
    margin-top: -19px;
  }
}

@media screen and (max-width: 68rem) {
  .profile-card__card-details {
    margin-top: -29px;
  }
}

@media screen and (max-width: 61.31rem) {
  .profile-card__card-details {
    margin-top: -38px;
  }
}

@media screen and (max-width: 56.25rem) {
  .profile-card__card-details {
    margin-top: -48px;
  }
}

@media screen and (max-width: 50rem) {
  .profile-card__card-details {
    margin-top: -57px;
  }
}

@media screen and (max-width: 43.31rem) {
  .profile-card__card-details {
    margin-top: -70px;
  }
}

@media screen and (max-width: 40rem) {
  .profile-card__card-details {
    margin-top: -79px;
    width: 129px;
    font-size: 17px;
  }
}

@media screen and (max-width: 35.93rem) {
  .profile-card__card-details {
    margin-top: -84px;
  }
}

@media screen and (max-width: 33.43rem) {
  .profile-card__card-details {
    margin-top: -91px;
    width: 110px;
    font-size: 14px;
  }
}
