.navbar {
  display: flex;
  align-self: flex-end;
  /* width: 7rem; */
  height: 5rem;
  position: fixed;
  right: 0;
}

.navbar__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 100%;
  /* padding: 1rem; */
  background-color: gray;
  color: white;
  font-size: 1.9rem;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
  font-family: 'Dongle', sans-serif;
  background-color: #F48498;
}

/* .navbar__tab:hover {
  font-size: 1.05rem;
} */

.active {
  background-color: #ACD8AA;
  color: #F4627C;
  text-decoration: underline;
}
